@charset "utf-8";

/* 
font

1) outfit 폰트 (영문)
font-family: "Outfit", sans-serif;
font-weight: 100~900;

2) 42dot Sans (한글)
font-family: "42dot Sans", sans-serif;
font-weight: 300~800;
*/

/* reset ****************************************/
* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

/* main */
main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    position: relative;
}

/* main .main-img {} */

main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

main video {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}


main .title {
    width: 100%;
    max-width: 1280px;
    margin: 80px auto;
    text-align: center;
}

main .title h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 2px;
    color: #444;
}

main .title p {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: 20px;
    letter-spacing: 2px;
    color: #444;
}

/* section */
section {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

section .quencher1 {
    width: 100%;
    max-width: 1280px;
    margin: 100px auto;
}

section .quencher1 .q-img {
    display: inline-block;
}

section .quencher1 .q-img img {
    margin: 10px;
    border-radius: 40px;
    width: 620px;
}

section .quencher1 .q-box {
    float: right;
    text-align: right;
    background-color: #F1C0D8;
    border-radius: 0 40px 0;
    box-shadow: inset 0px 0px 10px #888;
    padding: 0 15px;
}

section .quencher1 .q-box .q-title {
    background-color: #EB43BA;
    margin: 20px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px #666;
}

section .quencher1 .q-box .q-title h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 20px;
    letter-spacing: 1px;
    color: #333;
}

section .quencher1 .q-box .q-txt {
    background-color: #F9A5D9;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px -2px #fff;
}

section .quencher1 .q-box .q-txt p {
    font-family: "42dot Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
    padding: 20px;
    color: #555;
}

section .quencher1 .q-box .q-txt p span {
    background-color: yellow;
}

section .quencher2 {
    width: 100%;
    max-width: 1280px;
    margin: 100px auto;
}

section .quencher2 .q-img {
    float: right;

}

section .quencher2 .q-img img {
    margin: 10px 0 10px;
    border-radius: 40px;
    width: 620px;
}

section .quencher2 .q-box {
    float: left;
    display: inline;
    text-align: left;
    background-color: #DCDBD9;
    border-radius: 40px 0;
    box-shadow: inset 0px 0px 10px #888;
}

section .quencher2 .q-box .q-title {
    background-color: #C99C40;
    margin: 20px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px #666;
}

section .quencher2 .q-box .q-title h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 20px;
    letter-spacing: 1px;
    color: #333;
}

section .quencher2 .q-box .q-txt {
    background-color: #F1F3F3;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px -2px #fff;
}

section .quencher2 .q-box .q-txt p {
    font-family: "42dot Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
    padding: 20px;
    color: #555;
}

section .quencher2 .q-box .q-txt p span {
    background-color: yellow;
}